* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main {
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,#4dc1ff,#eb77f6);
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    position: relative;
}

/* header */
nav {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
}

nav .logo-area {
    display: flex;
    align-items: center;
}
.logo {
    width: 20%;
    height: 20%;
    margin-right: 20px;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
}
.nav-links ul li {
    display: inline-block;
    padding: 0 2rem;
    list-style-type: none;
}
.nav-links ul a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.nav-links ul a:hover {
    opacity: 0.7;
}

/* content */
.info {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 1s;
}

.future {
    display: flex;
    position: absolute;
    color: #fff;
}
.future img {
    width: 70px;
}

.future .text-area {
    margin-left: 20px;
}

.one {
    
    top: 450px;
    right: 70px;
}
.two {
    top: 100px;
    left: 340px;
    transform: rotate(-90deg);
}

.three {
    left: 50px;
    bottom: 450px;
    transform: rotate(-180deg);
}

.four {
    bottom: 150px;
    right: 340px;
    transform: rotate(-270deg);

}

.pc {
    position: absolute;
    width: 400px;
    top: 50%;
    transform: translateY(-50%);
    left: 27%;
    z-index: 1;
}

.control {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    text-align: center;
}
.control img {
    width: 15%;
}
.control h3 {
    color: #fff;
    margin: 20px 0;
}

#upBtn {
    cursor: pointer;
    transition: .5s;
}
#upBtn:hover {
    opacity: 0.7;
}
#downBtn {
    transform: rotate(-180deg);
}
#downBtn:hover {
    opacity: 0.7;
    transition: .5s;

}

/* overlay */
.overlay {
    width: 0;
    height: 0;
    border-top: 520px solid #fff;
    border-right: 520px solid transparent;
    border-bottom: 520px solid #fff;
    border-left: 520px solid #fff;
}